<table class="table">
    <thead class="table-dark">
        <tr>

            {{#each this}}
                {{#if @first}}
                    {{#each this}}
                    <th scope="col">{{@key}}</th>
                    {{/each}}

                    {{! add dropdown for potentialActions }}
                    {{#if (isdefined this.potentialActions)}}
                        <th>

                        </th>

                    {{/if}}

                {{/if}}

            {{/each}}

        </tr>

    </thead>
    <tbody>

        {{#each this}}
        <tr>
            {{#each this}}
            <td>{{toValue this}}</td>
            {{/each}}

            {{! add dropdown for potentialActions }}
            {{#if (isdefined this.potentialActions)}}
            <td>
                {{> dropdown this.potentialActions}}
            </td>

            {{/if}}


        </tr>

        {{/each}}




    </tbody>
</table>